.container{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: rgb(224, 222, 222);
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow:  5px  0 5px rgb(92, 71, 71);
}

h1{
    color: rgb(50, 50, 210);
    text-shadow: 5px 0 5px rgb(68, 68, 89);
    font-family: Arial, Helvetica, sans-serif;
   font-size: 3rem;
    /* font-weight: 500 ; */
}

.clkimg img{
    height: 200px;
    width: 320px;
    clip-path: circle();
}
.clk_btn{
    border-radius: 30px;
    box-shadow: 5px 0 5px rgb(104, 104, 104);
}
.clk_btn:hover{
    background-color: orangered;
}